h1 {
    padding: 30px 50px;
    background-color: #69696956;
    color: #696969;
    font-family: sans-serif;
    font-size: 50px;
}

nav {
    background-color: #69696956;
    padding: 10px 5px;
}

nav ul {
    list-style-type: none;
    padding: 10px 5px;
    margin: 0;
    
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none; 
    font-family: sans-serif;
    font-weight: 600;
}

.sports {
    font-family: sans-serif;
    font-weight: 700;
    padding: 2px 8px;
    color: cadetblue;
}

.economy {
    font-family: sans-serif;
    font-weight: 700;
    padding: 2px 8px;
    margin-top: 8px;
    color: burlywood;
}

.e-sports {
    font-family: sans-serif;
    font-weight: 700;
    padding: 2px 8px;
    margin-top: 8px;
    color: #cf7500;
}

.tecnologia {
    font-family: sans-serif;
    font-weight: 700;
    padding: 2px 8px;
    margin-top: 8px;
    color: blue
}

h3 {
    font-family: sans-serif;
    font-weight: 900;
    padding: 2.5px;
}

p {
    font-family: sans-serif;
    font-weight: 700;
    padding-left: 8px;
    color: #696969;
}

time {
    font-family: sans-serif;
    font-weight: 800;
    color: #7c7c7c;
    padding-left: 8px;
}

img {
    width: 640px; height: 426px; 
    border-radius: 10px;
    padding-left: 5px;
}

article a {
    text-decoration: none;
    color: #214e92;
    font-family: sans-serif;
    font-weight: 800;
    padding-left: 8px;
}
.sp {
    background-color: rgba(95, 158, 160, 0.178);
    border-radius: 5px;
}

.ec {
    background-color: rgba(222, 184, 135, 0.205);
    border-radius: 5px;
}

.e-sp {
    background-color: #cf75003f;
    border-radius: 5px;
}

.tec {
    background-color: rgba(0, 0, 255, 0.185);
    border-radius: 5px;
}